<html>

	<head>
		<title>Ethics and Professional Conduct</title>
		<link href="bower_components/angular-material/angular-material.css" rel="stylesheet" />
		<script src='bower_components/angular/angular.min.js'></script>
		<script src='app.js'></script>

	</head>
	<body ng-app = "ethicsApp" layout ="column"  >

		<script src="./bower_components/angular/angular.js" type="text/javascript" ></script>
    	<script src="./bower_components/angular-animate/angular-animate.js" type="text/javascript" ></script>
   		<script src="./bower_components/angular-aria/angular-aria.js" type="text/javascript" ></script>
    	<script src="./bower_components/angular-material/angular-material.js" type="text/javascript" ></script>

    	 <!-- Container #1 (see wireframe) -->
    	<md-toolbar layout="row" >
      		<h1>Data Protection Act</h1>
    	</md-toolbar>


	      <div flex layout="row" ng-controller = "MainController" ng-cloak>

	        <!-- Container #3 -->
	        <md-sidenav md-is-locked-open="true" class="md-whiteframe-z2">

		        <md-list>
		        	<md-list-item ng-repeat="q in questions">
			            <md-button>
			              Question {{q.no}} {{q.feedback}}
			            </md-button>
		        	</md-list-item>
		        </md-list>
				<md-content layout-padding>
					Correct: {{questionsCorrect}}<br>
					Answered: {{questionsAnswered}}
				</md-content>

		    </md-sidenav>

	        <!-- Container #4 -->
	        <md-content flex id="content">
	        <div flex-xs flex-gt-xs="70" layout="column">
				<md-card ng-repeat="q in questions ">
					<md-card-header>
				         <md-card-title-text>
				           <span class="md-headline">{{q.no}}. {{q.text}}</span>
				         </md-card-title-text>
				    </md-card-header>
				    <!-- <img ng-src="{{q.picture}}" class="md-card-image" alt="Washed Out"> -->
					<!--
				    <md-card-content>
				        <p>{{q.text}}</p>
				    </md-card-content>
					-->
				<md-card-actions layout="column" layout-align="start center">
					<md-button ng-click="checkAnswer(q.no, 'A')">A. {{q.optionA}}</md-button>
					<md-button ng-click="checkAnswer(q.no, 'B')">B. {{q.optionB}}</md-button>
					<md-button ng-click="checkAnswer(q.no, 'C')">C. {{q.optionC}}</md-button>
		        </md-card-actions>

			</md-card>
			</div>
			</md-content>

	    </div>
	</body>
</html>
